.basket-check {
    position: absolute;
    right: 0;
    bottom: -25px;
    z-index: 2;

    @include media-breakpoint-down(sm)
    {
        & {
            position: static;
            margin: 0 0 15px;
        }
    }
}