.basket-result {
    display: flex;
    justify-content: space-between;

    &__left {
        width: 320px;
    }
    &__right {
        width: calc(100% - 400px);
    }
    &__count {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 15px;
    }
    &__table {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;

        &-big {
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            margin: 15px 0 0;
        }
    }

    @media (min-width:1150px) AND (max-width:1500px)
    {
        & {
            flex-direction: column;

            &__right {
                width: 100%;
                padding: 30px 0 0;
            }
        }
    }
    @include media-breakpoint-down(md)
    {
        & {
            flex-direction: column;

            &__right {
                width: 100%;
                padding: 30px 0 0;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__left {
            width: 100%;
        }
        &__table {
            font-size: 12px;
            line-height: 26px;

            &-big {
                font-size: 20px;
            }
        }
    }
}