.basket-result {
    &__top {
        margin-bottom: 30px;
    }
    &__promocode {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        &-input {
            margin: 0 20px 0 0;

            @include media-breakpoint-down(sm) {
                margin: 0 0 20px 0;
            }
        }

        &-btn {
            height: 62px;
            margin: 0 auto;
        }
    }
    &__count {
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 15px;
    }
    &__table {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;

        &-big {
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            margin: 15px 0 0;
        }
    }

    @include media-breakpoint-only(xs)
    {
        &__table {
            font-size: 12px;
            line-height: 26px;

            &-big {
                font-size: 20px;
            }
        }
    }
}