@include media-breakpoint-only(xl)
{
    .requisites-block {
        display: flex;
        align-items: center;

        &__input {
            width: 360px;
            margin: 0 100px 0 0;
        }
        &__btns {
            width: 570px;
        }
    }
}
@include media-breakpoint-between(sm, lg)
{
    .requisites-block__input {
        margin: 0 0 40px;
    }
}
@include media-breakpoint-only(xs)
{
    .requisites-block__input {
        margin: 0 0 20px;
    }
}