.personal-tabs {
    margin: 0 0 50px;

    &-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__link {
            font-size: 22px;
            color: var(--grey1);
            font-weight: bold;
            width: 25%;
            text-align: center;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;

            &_active,
            &_active:hover {
                color: var(--white);
                background-color: var(--blue-opacity);
            }
        }
    }
    &-block {
        background-color: var(--light-blue3);
        border-top: 2px solid var(--blue);

        &__inner {
            padding: 50px 0;
        }
    }

    @include media-breakpoint-only(xl)
    {
        &-links_link {
            border-left: 1px solid var(--grey2);

            &:first-child {
                border: none;
            }
        }
    }
    @include media-breakpoint-down(lg)
    {
        & {
            margin: 0 0 10px;

            &-links {
                border-top: 1px solid var(--grey4);
                margin: 0 0 10px;

                &__link {
                    border-bottom: 1px solid var(--grey4);
                    width: 50%;

                    &:nth-child(odd) {
                        border-right: 1px solid var(--grey4);
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm)
    {
        &-links__link {
            font-size: 16px;
            line-height: 1.4;
            padding: 0 10px;
        }
    }
}