.product-calc {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px;

    &__part {
		min-width: calc(100% / 3);
		flex: 50% 1 1;
        padding: 60px 30px 25px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--white);
            opacity: .5;
        }
        &_orange {
            background-color: var(--orange);
        }
        &_blue {
            background-color: var(--light-blue);
        }
        &_brown {
            background-color: var(--brown);
        }
    }
    &__inner {
        position: relative;
        z-index: 2;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &__item {
        padding: 0 15px;
        width: 50%;

	    &--full-width {
		  width: 100%;
		}
    }
    &__btns {
        text-align: center;
    }
    &__btn {
        padding: 0;
        width: 370px;
        margin: 0 0 30px;
        max-width: 100%;

	  &--change-tab:last-child {
		margin: 0;
	  }
    }

    &-tabs {
        display: none;
    }

    @include media-breakpoint-between(md, lg)
    {
	  	flex-wrap: wrap;

        &__part {
            flex: 100% 0 0;
            padding: 65px 0 35px;
        }
        &__inner {
            max-width: 580px;
            margin: auto;
        }
    }
    @include media-breakpoint-down(sm)
    {
        & {
            margin: 0 0 55px;

            &__part {
                width: 100%;
                padding: 55px 0 35px;
                display: none;

                &_active {
                    display: block;
                }
            }
            &__inner {
                max-width: 270px;
                margin: auto;
            }
            &__item {
                width: 100%;
            }
            &__title {
                display: none;
            }

            &-tabs {
                display: block;

                &__block {
                    display: flex;
                    margin: 0 0 15px;
                }
                &__link {
                    font-size: 14px;
                    font-weight: bold;
                    color: var(--grey2);
                    padding: 0 0 5px;
                    border-bottom: 3px solid var(--grey2);
					min-width: calc(100% / 3);
					flex: 50% 1 1;
                    text-align: center;

                    &_active {
                        border-color: var(--blue);
                    }
                    &_disabled {
                        text-decoration: line-through;
                        color: var(--grey1);
                    }
                }
            }
        }
    }
}

.product-select {
    display: flex;
    text-align: center;
    justify-content: space-between;

    &__item {
        width: calc(33.3% - 16px);
        margin: 0 0 70px;
    }
    &__top {
        display: block;
        margin: 0 0 25px;
    }
    &__pict {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px;
    }
    &__icon {
        fill: var(--brown);

        &_1 {
            width: 54px;
            height: 39px;
        }
        &_2 {
            width: 54px;
            height: 36px;
        }
        &_3 {
            width: 42px;
            height: 48px;
        }
    }
    &_active &__icon {
        fill: var(--grey1);
    }
    &__label {
        position: relative;
        cursor: pointer;
        height: 56px;
        background-color: var(--brown);
        border: 1px solid var(--white);
        font-weight: bold;
        color: var(--white);
        line-height: 1;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-date {
            font-size: 30px;
            border-bottom: 1px solid var(--white);
            margin: 0 0 3px;
        }
        &-man {
            font-size: 16px;
            border-bottom: 1px solid var(--white);
            margin: 0 0 3px;
        }
    }
    &__price {
        background-color: var(--white);
        height: 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--grey1);
        border: 4px solid var(--white);
        cursor: default;

        &-big {
            font-size: 24px;
            font-weight: bold;
            line-height: 1;
        }
        &-small {
            font-size: 10px;
        }
    }
    &_active &__price_active,
    &_active &__price:hover {
        color: var(--grey1);
        border-color: var(--blue);
        cursor: pointer;
    }

    @include media-breakpoint-down(sm)
    {
        & {
            flex-direction: column;

            &__item {
                width: 100%;
                margin: 0 0 30px;
            }
            &__pict {
                margin: 0 0 15px;
            }
            &__top {
                margin: 0 0 15px;
            }
        }
    }
}