.product-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto 35px;

    &__item {
        text-align: center;
        width: 50%;
        margin: 0 0 35px;
    }
    &__pict {
        height: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 0 25px;
    }
    &__icon {
        max-width: 60px;
        max-height: 60px;
    }
    &__name {
        font-size: 13px;
        font-weight: 500;
    }
    &__desc {
        margin: 15px 0 0;
        color: var(--grey3);
    }
}

@include media-breakpoint-between(md, lg)
{
    .product-icons {
        max-width: 100%;
        margin: 0;

        &__item {
            width: 25%;
        }
        &__name {
            letter-spacing: .04em;
        }
    }
}
@include media-breakpoint-down(sm)
{
    .product-icons {
        max-width: 100%;
        margin: 0;

        &__item {
            margin: 0 0 50px;
        }
    }
}