.link-block {
    margin: 0 auto 100px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;

    &__link {
        width: 20%;
        font-size: 14px;
        font-weight: bold;
        color: var(--grey1);
        border-left: 1px solid var(--grey2);
        background-color: var(--orange);
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;

        &:hover,
        &_active {
            color: var(--white);
            background-color: var(--brown);
        }
        &_disabled {
            text-decoration: line-through;
        }
    }
}

@include media-breakpoint-up(lg)
{
    .link-block {

        &__link {

            &:first-child {
                border: none;
            }
        }
    }
}
@include media-breakpoint-only(lg)
{
    .link-block {

        &__link {
            font-size: 11px;
        }
    }
}
@include media-breakpoint-only(md)
{
    .link-block {
        width: map-get($container-max-widths, md);
        margin: 0 auto;

        &__link {
            margin: 0 0 35px;
            background-color: var(--grey-blue);

            &:hover {
                background-color: var(--light-blue);
            }
            &_active {
                background-color: var(--brown);
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                width: calc(100% / 3);
            }
            &:nth-child(4),
            &:nth-child(5) {
                width: 50%;
            }
            &:nth-child(3),
            &:nth-child(5) {
                border-right: 1px solid var(--grey2);
            }
        }
    }
}
@include media-breakpoint-down(sm)
{
    .link-block {
        margin: 0 auto 30px;

        &__link {
            margin: 0 0 20px;
            background-color: var(--grey-blue);
            width: 50%;

            &:hover {
                background-color: var(--light-blue);
            }
            &_active {
                background-color: var(--brown);
            }
            &:last-child {
                width: 100%;
            }
        }
    }
}