.menu-top {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &__link {
        color: var(--white);
        font-size: 10px;
        font-weight: 700;
        margin: 0 16px 0 0;
        letter-spacing: .05em;

        &:hover {
            color: var(--orange);
        }
    }

    @include media-breakpoint-down(sm)
    {
        &__link {
            margin: 0 10px 0 0;
        }
    }
}