.menu-top {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 10px;
    font-weight: 700;

    &__link {
        color: var(--white);
        margin: 0 0 0 15px;

        &:hover {
            color: var(--orange);
        }
    }

    @include media-breakpoint-down(md)
    {
        & {
            display: none;
        }
    }
}