:root {
    --black: #000;
    --white: #FFF;
    --blue: #34558b;
    --orange: #F5B995;
    --yellow: #F4DBB2;
    --brown: #a48e81;
    
    --light-yellow: #F7E5C8;

    --brown-opacity: rgba(164, 142, 129, .5);
    --white-opacity: rgba(255, 255, 255, .5);
    --blue-opacity: rgba(52, 85, 139, .7);
    --orange-opacity: rgba(245, 186, 149, .5);

    --grey-blue: #B4C7D6;

    --light-blue: #6a8dc3;
    --light-blue1: #D9E3EA;
    --light-blue2: #B4C6E1;
    --light-blue3: #D6E0E8;

    --blue1: #486696;

    --grey1: #222;
    --grey2: #999;
    --grey3: #666;
    --grey4: #CCC;
    --grey5: #EEE;
    --grey6: #707070;
    --grey7: #FAFAFA;
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1150px
);

$container-max-widths: (
    sm: 540px,
    md: 754px,
    lg: 960px,
    xl: 1130px
);

$gutter: 30px;