<% var data = {
    title: "Addr Btn",
    classHead: 'main-header_inner',
    classMain: 'main-main_inner',
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">

    <!-- Хлебные крошки -->
    <div class="breadcrumbs">
        <a href="javascript:;" class="breadcrumbs__link">ГЛАВНАЯ</a> / 
        <span class="breadcrumbs__current">ЛИЧНЫЙ КАБИНЕТ</span>
    </div>

    <!-- Заголовок страницы -->
    <h1>ЛИЧНЫЙ КАБИНЕТ</h1>

</div>

<div class="personal-tabs">
    <div class="personal-tabs-links">
        <a href="javascript:;" class="personal-tabs-links__link">МОИ ЗАКАЗЫ</a>
        <a href="javascript:;" class="personal-tabs-links__link">РЕКВИЗИТЫ</a>
        <a href="javascript:;" class="personal-tabs-links__link personal-tabs-links__link_active">АДРЕСА ДОСТАВКИ</a>
        <a href="javascript:;" class="personal-tabs-links__link">ПРОФИЛЬ</a>
    </div>
    <div class="personal-tabs-block">
        <div class="personal-tabs-block__inner">

            <div class="personal-btns">
                <a href="javascript:;" class="personal-btns__btn personal-btns__btn_lg100">ДОБАВИТЬ АДРЕС</a>
            </div>

        </div>        
    </div>
</div>

<%= _.template(require('./../includes/icons.html'))(data) %>

<%= _.template(require('./../includes/footer.html'))(data) %>