<% var data = {
    title: "Order",
    classBody: '',
    classHead: 'main-header_inner',
    classMain: 'main-main_inner',
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">

    <!-- Хлебные крошки -->
    <div class="breadcrumbs">
        <a href="javascript:;" class="breadcrumbs__link">ГЛАВНАЯ</a> / 
        <a href="javascript:;" class="breadcrumbs__link">ЛИЧНЫЙ КАБИНЕТ</a> / 
        <span class="breadcrumbs__current">ЕВГЕНИЙ</span>
    </div>

    <!-- Заголовок страницы -->
    <h1>ЕВГЕНИЙ</h1>

</div>

<div class="personal-tabs">
    <div class="personal-tabs-links">
        <a href="javascript:;" class="personal-tabs-links__link">ПРОФИЛЬ</a>
        <a href="javascript:;" class="personal-tabs-links__link personal-tabs-links__link_active">МОИ ЗАКАЗЫ</a>
        <a href="javascript:;" class="personal-tabs-links__link">Избранное</a>
        <a href="javascript:;" class="personal-tabs-links__link">Корзина</a>
    </div>
    <div class="personal-tabs-block">
        <div class="personal-tabs-block__inner">

            <div class="order-head">
                <div class="container">
                    <div class="order-head__inner">
                        <div class="order-head__left">
                            <div class="order-head__name">ЗАКАЗ № Ф3256987</div>
                            <div class="order-head__date">(11:25, 10.03.2021)</div>
                            <div class="order-status">
                                <svg class="order-status__icon order-status__icon_1">
                                    <use xlink:href="./local/img/sprite.status.svg#status1"></use>
                                </svg>
                                НЕ ОПЛАЧЕН
                            </div>
                        </div>
                        <a href="javascript:;" class="order-repeat">
                            ПОВТОРИТЬ
                            <svg class="order-repeat__icon">
                                <use xlink:href="./local/img/sprite.icon.svg#repeat"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
           
            <div class="container">

                <div class="order-list">
                    <div class="order-list__line">
                        <div class="order-list__line-text">
                            <svg class="order-list__line-icon">
                                <use xlink:href="./local/img/sprite.icon.svg#alarm"></use>
                            </svg>
                            СРОКИ ИЗГОТОВЛЕНИЯ ИЗМЕНИЛИСЬ
                        </div>
                    </div>
                    <div class="order-list__pict">
                        <img src="./local/uploads/order.product.jpg" alt="" class="order-list__img">
                    </div>
                    <div class="order-list__block">
                        <div class="order-list__top">
                            <div class="order-list__top-left">
                                <div class="order-list__name">ВИЗИТНАЯ КАРТОЧКА</div>
                                <div class="order-list__info">(90Х50 ММ), 1000 ШТ. 300 Г/М², 4+4</div>
                            </div>
                            <div>
                                <div class="order-list__status">
                                    СТАТУС ТОВАРА:
                                    <a href="javascript:;" class="order-list__status-point order-list__status-point_active tool-block-activate">
                                        <div class="tool-block tool-block_adaptive">
                                            <div class="tool-block__title">Статус 1:</div>
                                            <p>Ваш заказ заказан</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="order-list__status-point tool-block-activate">
                                        <div class="tool-block tool-block_adaptive">
                                            <div class="tool-block__title">Статус 2:</div>
                                            <p>Ваш заказ заказан и что-то ещё</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="order-list__status-point tool-block-activate">
                                        <div class="tool-block tool-block_adaptive">
                                            <div class="tool-block__title">Статус 3:</div>
                                            <p>Ваш заказ заказан и что-то ещё два раза</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="order-list__status-point tool-block-activate">
                                        <div class="tool-block tool-block_adaptive">
                                            <div class="tool-block__title">Статус 4:</div>
                                            <p>Ваш заказ заказан и что-то ещё три раза</p>
                                        </div>
                                    </a>
                                    <a href="javascript:;" class="order-list__status-point tool-block-activate">
                                        <div class="tool-block tool-block_adaptive">
                                            <div class="tool-block__title">Статус 5:</div>
                                            <p>Ваш заказ заказан и что-то ещё четыре раза</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="order-list__bottom">
                            <div class="order-list__links">
                                <a href="javascript:;" class="order-list__link">
                                    <svg class="order-list__link-icon order-list__link-icon_cat">
                                        <use xlink:href="./local/img/sprite.icon.svg#cat"></use>
                                    </svg>
                                    МАКЕТ ЗАГРУЖЕН
                                </a>
                                <a href="javascript:;" class="order-list__link">
                                    <svg class="order-list__link-icon order-list__link-icon_like">
                                        <use xlink:href="./local/img/sprite.svg#icon-like"></use>
                                    </svg>
                                    НРАВИТСЯ
                                </a>
                            </div>
                            <div>
                                <div class="order-list__price">5 607¤</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-list">
                    <div class="order-list__line">
                        <div class="order-list__line-text">
                            <svg class="order-list__line-icon">
                                <use xlink:href="./local/img/sprite.icon.svg#alarm"></use>
                            </svg>
                            СРОКИ ИЗГОТОВЛЕНИЯ ИЗМЕНИЛИСЬ
                        </div>
                    </div>
                    <div class="order-list__pict">
                        <img src="./local/uploads/order.product.jpg" alt="" class="order-list__img">
                    </div>
                    <div class="order-list__block">
                        <div class="order-list__top">
                            <div class="order-list__top-left">
                                <div class="order-list__name">ВИЗИТНАЯ КАРТОЧКА</div>
                                <div class="order-list__info">(90Х50 ММ), 1000 ШТ. 300 Г/М², 4+4</div>
                            </div>
                            <div>
                                <div class="order-list__status">
                                    СТАТУС ТОВАРА:
                                    <span class="order-list__status-point order-list__status-point_active"></span>
                                    <span class="order-list__status-point"></span>
                                    <span class="order-list__status-point"></span>
                                    <span class="order-list__status-point"></span>
                                    <span class="order-list__status-point"></span>
                                </div>
                            </div>
                        </div>
                        <div class="order-list__bottom">
                            <div class="order-list__links">
                                <a href="javascript:;" class="order-list__link">
                                    <svg class="order-list__link-icon order-list__link-icon_cat">
                                        <use xlink:href="./local/img/sprite.icon.svg#cat"></use>
                                    </svg>
                                    МАКЕТ ЗАГРУЖЕН
                                </a>
                                <a href="javascript:;" class="order-list__link">
                                    <svg class="order-list__link-icon order-list__link-icon_like">
                                        <use xlink:href="./local/img/sprite.svg#icon-like"></use>
                                    </svg>
                                    НРАВИТСЯ
                                </a>
                            </div>
                            <div>
                                <div class="order-list__price">5 607¤</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-delivery">
                    <div class="order-delivery__left">
                        <div class="order-delivery__date">15</div>
                        <div class="order-delivery__mounth">ДЕКАБРЯ</div>
                    </div>
                    <div class="order-delivery__center">
                        <div class="order-delivery__name">DPD</div>
                        <div class="order-delivery__info">(ДО ТЕРМИНАЛА)</div>
                        <a href="javascript:;" class="order-delivery__link">ИЗМЕНИТЬ</a>
                    </div>
                    <div class="order-delivery__right">
                        607¤
                    </div>
                </div>

                <div class="order-bottom">
                    <div class="order-bottom__left">
                        <a href="javascript:;" class="btn-one">ОПЛАТИТЬ</a>
                    </div>
                    <div class="order-bottom__right">
                        <div class="order-bottom__info">
                            2 ЗАКАЗА (ВЕС 5,6 КГ)
                        </div>
                        <div class="order-bottom__price">
                            12 014¤
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<%= _.template(require('./../includes/icons.html'))(data) %>

<%= _.template(require('./../includes/footer.html'))(data) %>