<% var data = {
    title: "Portfolio",
    classBody: '',
    classHead: 'main-header_inner',
    classMain: 'main-main_inner',
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">

    <!-- Хлебные крошки -->
    <div class="breadcrumbs">
        <a href="javascript:;" class="breadcrumbs__link">ГЛАВНАЯ</a> / 
        <a href="javascript:;" class="breadcrumbs__link">ПОРТФОЛИО</a> / 
        <span class="breadcrumbs__current">НАКЛЕЙКИ КРУГЛЫЕ</span>
    </div>

    <!-- Заголовок страницы -->
    <h1>НАКЛЕЙКИ КРУГЛЫЕ ЛУЧШИЕ В МОСКВЕ</h1>

</div>

<!-- Список товаров -->
<div class="portfolio-inner">
    <div class="portfolio-inner__items grid">
        <div class="grid-sizer"></div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product4.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product6.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product6.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product1.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="portfolio-inner__item grid-item">
            <div class="portfolio-inner__inner">
                <a href="javascript:;" class="portfolio-inner__pict">
                    <img class="portfolio-inner__img" src="./local/uploads/product4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="portfolio-inner__btn">
        <a href="javascript:;" class="btn-link btn-link_black js-show-product">
            ВСЕ ПОСМОТРЕТЬ
        </a>
    </div>
</div>

<div class="our-ig">
    <div class="our-ig__title">
        НАШ INSTAGRAM <a href="javascript:;" class="our-ig__title-link">@PRINTME</a>
    </div>
    <div class="our-ig__slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.1.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.2.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.1.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.2.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.1.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.2.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.1.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.2.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.1.jpg" alt="" class="our-ig__img">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:;" class="our-ig__link">
                    <img src="./local/uploads/our.ig.2.jpg" alt="" class="our-ig__img">
                </a>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/icons.html'))(data) %>

<%= _.template(require('./../includes/footer.html'))(data) %>