<% var data = {
    title: "Profile",
    classBody: '',
    classHead: 'main-header_inner',
    classMain: 'main-main_inner',
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">

    <!-- Хлебные крошки -->
    <div class="breadcrumbs">
        <a href="javascript:;" class="breadcrumbs__link">ГЛАВНАЯ</a> / 
        <a href="javascript:;" class="breadcrumbs__link">ЛИЧНЫЙ КАБИНЕТ</a> / 
        <span class="breadcrumbs__current">ЕВГЕНИЙ</span>
    </div>

    <!-- Заголовок страницы -->
    <h1>ЕВГЕНИЙ</h1>

</div>

<div class="personal-tabs">
    <div class="personal-tabs-links">
        <a href="javascript:;" class="personal-tabs-links__link personal-tabs-links__link_active">ПРОФИЛЬ</a>
        <a href="javascript:;" class="personal-tabs-links__link">МОИ ЗАКАЗЫ</a>
        <a href="javascript:;" class="personal-tabs-links__link">Избранное</a>
        <a href="javascript:;" class="personal-tabs-links__link">Корзина</a>
    </div>
    <div class="personal-tabs-block">
        <div class="personal-tabs-block__inner">

            <div class="container">

                <div class="form-three">
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="text" value="ЕВГЕНИЙ" placeholder="Имя">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="text" value="БЕЗФАМИЛЬНЫЙ" placeholder="">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="tel" value="+7999 1234567" placeholder="">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="email" value="EUGENIY@RAMBLER.RU" placeholder="">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="text" value="ФИЗЛИЦО" placeholder="">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="text" value="НАЗВАНИЕ ОРГАНИЗАЦИИ" placeholder="">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="text" value="ВЛАДИВОСТОК 2000" placeholder="">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="text" value="0987654321" placeholder="">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="form-three__line">
                            <div class="form-three__label">
                                ВВЕДИТЕ АДРЕС ДОСТАВКИ (УЛИЦА, НОМЕР ДОМА, КОРПУС, КВАРТИРА И Т.Д.)
                            </div>
                            <input class="form-three__input" type="text" value="ЛЕНИНГРАДСКИЙ ПРОСПЕКТ" placeholder="">
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-three__label">
                                    КОНТАКТНОЕ ЛИЦО*
                                </div>
                                <div class="form-three__line">
                                    <input class="form-three__input" type="text" value="">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-three__label">
                                    ТЕЛЕФОН*
                                </div>
                                <div class="form-three__line">
                                    <input class="form-three__input" type="text" value="">
                                </div>
                            </div>
                        </div>
 
                        <div class="form-three__line">
                            <div class="form-three__label">
                                КОММЕНТАРИИ К АДРЕСУ ДОСТАВКИ:
                            </div>
                            <textarea class="form-three__textarea" type="text" placeholder="Укажите номер офиса, наличие документов на въезд, ну и вообще надо вам это или нет?"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="password" value="" placeholder="ПАРОЛЬ:">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-eye"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-three__line">
                                    <input class="form-three__input form-three__input_padding-icon" type="password" value="" placeholder="ПОВТОРИТЕ ПАРОЛЬ:">
                                    <svg class="form-three__input-icon">
                                        <use xlink:href="./local/img/sprite.svg#icon-eye"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="form-three__label form-three__label_icon form-three__label_mb">
                            <svg class="form-three__label-icon">
                                <use xlink:href="./local/img/sprite.icon.svg#minus"></use>
                            </svg>
                            ЭТА ИНФОРМАЦИЯ НЕ БУДЕТ ДОСТУПНА ТРЕТЬИМ ЛИЦАМ
                        </div>

                        <div class="form-three__label form-three__label_icon">
                            <svg class="form-three__label-icon">
                                <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                            </svg>
                            ЕСЛИ ВЫ РЕКЛАМНОЕ АГЕНТСТВО, МЫ МОЖЕМ ДОСТАВИТЬ ЗАКАЗ ВАШЕМУ КЛИЕНТУ БЕЗ НАШИХ ЛОГОТИПОВ И БЕЗ ДОКУМЕНТОВ :)
                        </div>

                        <div class="text-center">
                            <br>
                            <a href="javascript::" class="btn-one">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                        </div>

                    </form>
                </div>

            </div>

        </div>        
    </div>
</div>

<%= _.template(require('./../includes/icons.html'))(data) %>

<%= _.template(require('./../includes/footer.html'))(data) %>