<% var data = {
    title: "Requisites",
    classHead: 'main-header_inner',
    classMain: 'main-main_inner',
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">

    <!-- Хлебные крошки -->
    <div class="breadcrumbs">
        <a href="javascript:;" class="breadcrumbs__link">ГЛАВНАЯ</a> / 
        <span class="breadcrumbs__current">ЛИЧНЫЙ КАБИНЕТ</span>
    </div>

    <!-- Заголовок страницы -->
    <h1>ЛИЧНЫЙ КАБИНЕТ</h1>

</div>

<div class="personal-tabs">
    <div class="personal-tabs-links">
        <a href="javascript:;" class="personal-tabs-links__link">МОИ ЗАКАЗЫ</a>
        <a href="javascript:;" class="personal-tabs-links__link personal-tabs-links__link_active">РЕКВИЗИТЫ</a>
        <a href="javascript:;" class="personal-tabs-links__link">АДРЕСА ДОСТАВКИ</a>
        <a href="javascript:;" class="personal-tabs-links__link">ПРОФИЛЬ</a>
    </div>
    <div class="personal-tabs-block">
        <div class="personal-tabs-block__inner">

            <div class="form-three">
                <form>
                    <div class="requisites-block">
                        <div class="requisites-block__input">
                            <input class="form-three__input" type="text" value="" placeholder="ИНН">
                        </div>
                        <div class="requisites-block__btns">
                            <div class="personal-btns">
                                <button type="submit" class="personal-btns__btn">ПРОДОЛЖИТЬ</button>
                                <a href="javascript:;" class="personal-btns__btn">ОТКАЖУСЬ ПОЖАЛУЙ</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>        
    </div>
</div>

<%= _.template(require('./../includes/icons.html'))(data) %>

<%= _.template(require('./../includes/footer.html'))(data) %>