<% var data = {
    title: "Search",
    classBody: '',
    classHead: 'main-header_inner',
    classMain: 'main-main_inner',
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">

    <!-- Хлебные крошки -->
    <div class="breadcrumbs">
        <a href="javascript:;" class="breadcrumbs__link">ГЛАВНАЯ</a> / 
        <span class="breadcrumbs__current">Поиск</span>
    </div>

    <!-- Заголовок страницы -->
    <h1>Поиск</h1>

</div>

<div class="search-bg-grey">
    <div class="container container-fluid-xl">
        <div class="search-padding">
            <div class="form-three search-padding__width">
                <div class="form-three__label">
                    ВВЕДИТЕ ИМЯ, ФАМИЛИЯ, ТЕЛЕФОН, ГОРОД И Т.Д.
                </div>
                <div class="form-three__line">
                    <input class="form-three__input" type="text" value="">
                </div>
                <div class="form-three__label">
                    ВВЕДИТЕ ТЕКСТ ВОПРОСА, КОММЕНТАРИЙ ИЛИ ЧТО ВАМ ВЗБРЕДЁТ В ГОЛОВУ
                </div>
                <div class="form-three__line">
                    <textarea class="form-three__textarea" placeholder="Пишите по существу, чётко и понятно излагайте свои мысли"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid-xl">
    <div class="search-padding">
        <div class="form-three">
            <div class="form-three__label">
                ВОЗМОЖНО ВАМ ПОДОЙДЁТ ТО, ЧТО МЫ ДЛЯ ВАС ПОДОБРАЛИ
                <svg class="search-hands-icon">
                    <use xlink:href="./local/img/sprite.icon.svg#hands"></use>
                </svg>
            </div>
        </div>
        <div class="search-checkbox-block">
            <div class="search-checkbox-block__item">
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="" checked>
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Это</span>
                </label>
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="">
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Или это</span>
                </label>
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="">
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Может быть это</span>
                </label>
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="">
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Это тоже подойдёт</span>
                </label>
            </div>
            <div class="search-checkbox-block__item">
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="" checked>
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Это</span>
                </label>
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="">
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Или это</span>
                </label>
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="">
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Может быть это</span>
                </label>
                <label class="checkbox-one checkbox-one_short">
                    <input class="checkbox-one__input" type="checkbox" value="">
                    <svg class="checkbox-one__icon">
                        <use xlink:href="./local/img/sprite.icon.svg#check"></use>
                    </svg>
                    <span class="checkbox-one__label">Это тоже подойдёт</span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid-xl">
    <div class="search-padding">
        <div class="form-three">
            <div class="form-three__label">
                МЫ ВАМ КОЕ-ЧТО ПРЕДЛОЖИМ, НУ А ДАЛЬШЕ УЖ САМИ
            </div>
        </div>
    </div>
</div>

<!-- Вкладки №2 -->
<div class="tabs2-block">
    <div class="tabs2-block-links">
        <a href="javascript:;" class="tabs2-block-links__link tabs2-block-links__link_light tabs2-block-links__link_active">ТАКОЕ НАДО?</a>
        <a href="javascript:;" class="tabs2-block-links__link tabs2-block-links__link_light">ЭТО ЛУЧШЕ</a>
        <a href="javascript:;" class="tabs2-block-links__link tabs2-block-links__link_light">ТОЧНЯК ТВОЁ</a>
        <a href="javascript:;" class="tabs2-block-links__link tabs2-block-links__link_light">ПРЯМ УГАДАЛ</a>
        <a href="javascript:;" class="tabs2-block-links__link tabs2-block-links__link_light tabs2-block-links__link_disabled">ЭТО ВСЁ НА ЧТО ВЫ СПОСОБНЫ?</a>
    </div>
    <div class="tabs2-block-block">
        <div class="tabs2-block-block__inner tabs2-block-block__inner_active">
        </div>
        <div class="tabs2-block-block__inner">
            <div class="container container-fluid-xl">
                <div class="search-padding">Таб №2</div>
            </div>
        </div>
        <div class="tabs2-block-block__inner">
            <div class="container container-fluid-xl">
                <div class="search-padding">Таб №3</div>
            </div>
        </div>
        <div class="tabs2-block-block__inner">
            <div class="container container-fluid-xl">
                <div class="search-padding">Таб №4</div>
            </div>
        </div>
        <div class="tabs2-block-block__inner">
            <div class="container container-fluid-xl">
                <div class="search-padding">Таб №5</div>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid-xl">
    <div class="search-padding">
        <div class="form-three">
            <div class="form-three__label">
                ВЫБИРАЙ СКОЛЬКО ВЛЕЗЕТ
            </div>
        </div>
        <div class="search-select-block">
            <div class="search-select-block__item">
                <select>
                    <option>это подойдёт</option>
                    <option>А3 (210х297 мм) книга</option>
                    <option>А2 (210х297 мм) книга</option>
                    <option>А1 (210х297 мм) книга</option>
                </select>
            </div>
            <div class="search-select-block__item">
                <select>
                    <option>возможно да</option>
                    <option>А3 (210х297 мм) книга</option>
                    <option>А2 (210х297 мм) книга</option>
                    <option>А1 (210х297 мм) книга</option>
                </select>
            </div>
            <div class="search-select-block__item">
                <select>
                    <option>возможно нет</option>
                    <option>А3 (210х297 мм) книга</option>
                    <option>А2 (210х297 мм) книга</option>
                    <option>А1 (210х297 мм) книга</option>
                </select>
            </div>
            <div class="search-select-block__item">
                <select>
                    <option>ну фиг знает</option>
                    <option>А3 (210х297 мм) книга</option>
                    <option>А2 (210х297 мм) книга</option>
                    <option>А1 (210х297 мм) книга</option>
                </select>
            </div>
            <div class="search-select-block__item">
                <select>
                    <option>всё! надоело</option>
                    <option>А3 (210х297 мм) книга</option>
                    <option>А2 (210х297 мм) книга</option>
                    <option>А1 (210х297 мм) книга</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid-xl">
    <div class="search-padding">
        <div class="form-three search-padding__width">
            <div class="form-three__label">
                ПОЧТА НУЖНА
            </div>
            <div class="form-three__line">
                <span class="form-three__info">E-MAIL:</span>
                <input class="form-three__input form-three__input_padding-full" type="email" value="VASYA@gmail.COM">
                <svg class="form-three__input-icon">
                    <use xlink:href="./local/img/sprite.icon.svg#paint"></use>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="search-bg-blue">
    <div class="container container-fluid-xl">
        <div class="search-padding">
            <div class="form-three">
                <div class="form-three__label search-label-link">
                    <div class="search-label-link__label">ЗАГРУЗИТЬ ИЗОБРАЖЕНИЯ ДО 5-И ФАЙЛОВ (В ФОРМАТЕ *.JPEG, *.PNG, *.PDF,И ДРУГИЕ)</div>
                    <a href="javascript:;" class="search-label-link__link">ОЗНАКОМИТЬСЯ С ТЕХНИЧЕСКИМИ ТРЕБОВАНИЯМИ К МАКЕТУ</a>
                </div>
                <div class="search-padding__width">
                    <div class="form-three__line">

                        <div class="form-file js-file-drag">
                            <svg class="form-file__icon form-file__icon_i">
                                <use xlink:href="./local/img/sprite.icon.svg#file-img"></use>
                            </svg>
                            <div class="form-file__info">
                                <div class="js-file-messages">
                                    ПЕРЕТАЩИТЕ СЮДА ФАЙЛЫ ИЛИ КЛИКНИТЕ ДЛЯ ВЫБОРА
                                </div>
                                <input class="form-file__input js-file-select" type="file" name="fileselect[]" multiple="multiple" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-three__label">
                    ЗАГРУЗИТЬ ФАЙЛ ДО 5-И ФАЙЛОВ (В ФОРМАТЕ  *.DOC, *.TXT, *.ZIP, *.RAR И ДРУГИЕ)
                </div>
                <div class="search-padding__width">
                    <div class="form-three__line">

                        <div class="form-file js-file-drag">
                            <svg class="form-file__icon form-file__icon_f">
                                <use xlink:href="./local/img/sprite.icon.svg#file-file"></use>
                            </svg>
                            <div class="form-file__info">
                                <div class="js-file-messages">
                                    ПЕРЕТАЩИТЕ СЮДА ФАЙЛЫ ИЛИ КЛИКНИТЕ ДЛЯ ВЫБОРА
                                </div>
                                <input class="form-file__input js-file-select" type="file" name="fileselect[]" multiple="multiple" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-three__label form-three__label_icon">
                    <svg class="form-three__label-icon">
                        <use xlink:href="./local/img/sprite.icon.svg#minus"></use>
                    </svg>
                    ЭТА ИНФОРМАЦИЯ НЕ БУДЕТ ДОСТУПНА ТРЕТЬИМ ЛИЦАМ
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid-xl">
    <div class="search-padding">
        <div class="search-padding__btns">
            <a href="javascript:;" class="search-padding__btn-first btn-one">
                СОХРАНИТЬ
            </a>
            <a href="javascript:;" class="btn-two">
                ОТКАЗАТЬСЯ
            </a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/icons.html'))(data) %>

<%= _.template(require('./../includes/footer.html'))(data) %>