.btn-link {
    font-size: 14px;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 7px;
    background: transparent;
    border: none;
    transition: all .3s;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 130px;
        height: 2px;
        background-color: var(--white);
        left: 50%;
        transform: translate(-50%, 0);
        transition: all .3s;
    }
    &_fix:after {
        width: 100%;
    }
    &_short:after {
        width: 100px;
    }
    &_black {
        color: var(--grey1);

        &:after {
            background-color: var(--grey1);
            transition: all .3s;
        }
    }
    &_grey {
        color: var(--grey2);

        &:after {
            background-color: var(--grey1);
            transition: all .3s;
        }
    }
    &:hover {
        color: var(--blue);

        &:after {
            background-color: var(--blue);
        }
    }
    &:not(.btn-link_active) &__text-hide {
        display: none;
    }
    &.btn-link_active &__text-show {
        display: none;
    }
}

.btn-one,
.btn-two,
.btn-three,
.btn-four {
    height: 56px;
    display: inline-block;
    line-height: 56px;
    padding: 0 100px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    text-align: center;
    letter-spacing: .1rem;

    @include media-breakpoint-only(xs)
    {
        & {
            padding: 0 60px;
        }
    }
}

.btn-one,
.btn-three {
    color: var(--white);
    border: none;

    &:hover,
    &:focus {
        color: var(--white);
        text-decoration: none;
    }
}

.btn-one {
    background-color: var(--blue);

    &:hover {
        background-color: var(--light-blue);
    }
}

.btn-two {
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: transparent;

    &:hover {
        border-color: var(--light-blue);
        color: var(--light-blue);
    }
}

.btn-three {
    background-color: var(--brown);

    &:hover {
        background-color: var(--brown-opacity);
    }
}

.btn-four {
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: var(--light-blue2);

    &:hover {
        border-color: var(--light-blue);
        color: var(--light-blue);
        background-color: transparent;
    }
}

.btn-full-width {
    width: 100%;
    padding: 0;
}

.btn-big-font {
    font-size: 18px;
}