.form-one {

    &__line {
        margin: 0 0 40px;
    }
    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 20px;

        &-link {
            fill: var(--black);

            &:hover {
                fill: var(--blue);
            }
        }
        &-icon {
            width: 15px;
            height: 13px;
        }
    }
    &__input {
        padding: 0 20px;
        width: 100%;
        height: 40px;
        color: var(--black);
        border: 1px solid var(--grey5);
        transition: all .3s;
        background-color: var(--white);

        &:hover {
            border-color: var(--blue);
        }
    }

    @include media-breakpoint-down(sm)
    {
        &__line {
            margin: 0 0 30px;
        }
    }
}