.form-three {

    &__label {
        letter-spacing: .1em;
        font-weight: bold;
        margin: 0 0 25px;
        text-transform: uppercase;
        position: relative;
        display: flex;

        &_mb {
            margin: 0;
        }
        &_icon {
            padding: 0 0 0 30px;
        }
        &_big {
            font-size: 18px;
        }
        &-icon {
            height: 15px;
            width: 15px;
            fill: var(--blue);
            position: absolute;
            left: 0;
            top: 3px;

            &-big {
                height: 25px;
                width: 25px;
                fill: var(--blue);
                position: absolute;
                left: -35px;
            }
        }
        &-link {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
    &__line {
        margin: 0 0 35px;
        position: relative;
    }
    &__info {
        position: absolute;
        line-height: 56px;
        top: 3px;
        left: 0;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        width: 195px;
        border-right: 1px solid var(--grey5);
        white-space: nowrap;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--grey1);

        &_short {
            width: 120px;
        }
        &_link {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
    &__input {
        padding: 0 15px;
        width: 100%;
        line-height: 60px;
        font-size: 14px;
        border: 1px solid var(--grey4);
        transition: all .3s;
        background-color: var(--white);

        &:hover {
            border-color: var(--blue);
        }
        &_div {
            line-height: 1.3;
            height: 62px;
            display: flex;
            align-items: center;
            overflow: hidden;

            &:hover {
                border-color: var(--grey5);
            }
        }
        &_padding-full {
            padding: 0 50px 0 250px;
        }
        &_padding-short {
            padding: 0 15px 0 175px;
        }
        &_padding-icon {
            padding: 0 50px 0 15px;
        }
        &-icon {
            height: 15px;
            width: 15px;
            fill: var(--black);
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 20px;
            transition: all .3s;
        }
        &:hover + .form-three__input-icon {
            fill: var(--blue);
        }
    }
    &__textarea {
        padding: 5px 15px;
        width: 100%;
        height: 110px;
        font-size: 14px;
        //font-weight: 500;
        border: 1px solid var(--grey4);
        transition: all .3s;
        resize: none;

        &:hover {
            border-color: var(--blue);
        }
    }
    &__check {
        display: flex;
        margin: -10px 0 40px;
        flex-wrap: wrap;

        &-part {
            position: relative;
            margin: 0 70px 0 0;

            &:last-child {
                margin: 0;
            }
        }
        &-input {
            position: absolute;
            opacity: 0;
        }
        &-label {
            white-space: nowrap;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all .3s;
            text-transform: uppercase;
            margin: 0;

            &:hover {
                color: var(--blue);
            }
        }
        &-icon {
            height: 15px;
            width: 15px;
            margin: 0 10px 0 0;
            fill: var(--grey2);
            border-bottom: 1px solid var(--grey2);
        }
        &-input:checked + .form-three__check-label .form-three__check-icon {
            fill: var(--blue);
            border-bottom-color: var(--blue);
        }
    }

    @include media-breakpoint-down(lg)
    {
        &__label-icon-big {
            position: static;
            left: auto;
            margin: 0 10px 0 0;
        }
    }
    @include media-breakpoint-down(sm)
    {
        &__line {
            margin: 0 0 15px;
        }
        &__label {
            margin: 0 0 10px;
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__info:not(.form-three__info_short) {
            text-align: left;
            padding: 0 0 0 15px;
            color: var(--grey2);
            font-size: 12px;
            line-height: 1.7;
            width: auto;
            border: none;
            pointer-events: none;
        }
        &__input {

            &_padding-full {
                padding: 0 50px 0 100px;
            }
            &_div {
                padding: 25px 15px 10px 15px;
                height: auto;
            }
        }
    }
}