.search-form {
    position: fixed;
    top: 0;
    z-index: 101;
    background-color: var(--blue);
    left: 0;
    right: 0;
    transition: all .3s;
    transform: translate(0, -100%);

    &_active {
        transform: translate(0, 0);
    }
    &__inner {
        height: 113px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__input {
        border: 0;
        background-color: transparent;
        color: var(--white);
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding: 0 20px;
        margin: 0 0 0 30px;
        width: 100%;
        max-width: calc(100% - 60px);

        &::placeholder {
            color: var(--white);
        }
    }
    &__submit {
        background: transparent;
        padding: 0;
        border: none;
        fill: var(--white);
        transition: all .3s;

        &:hover {
            fill: var(--orange);
        }
        &-icon {
            height: 30px;
            width: 30px;
        }
    }

    @include media-breakpoint-down(sm)
    {
        &__input {
            font-size: 26px;
            padding: 0 15px;
            max-width: calc(100% - 40px);
            margin: 0 0 0 20px;
        }
        &__submit {

            &-icon {
                height: 20px;
                width: 20px;
            }
        }
    }
}