.tabs2-block {

    &-links {
        margin: 0 auto 50px;
        display: flex;
        text-align: center;
        flex-wrap: wrap;

        &__link {
            flex: 1 1 0;
            font-size: 14px;
            font-weight: bold;
            color: var(--grey1);
            border-left: 1px solid var(--grey2);
            background-color: var(--light-blue2);
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;

            &_light {
                background-color: var(--light-blue1);
            }
            &:hover,
            &_active {
                color: var(--white);
                background-color: var(--brown);
            }
            &_disabled {
                text-decoration: line-through;
                cursor: default;
            }
        }

        @include media-breakpoint-up(lg)
        {
            &__link {

                &:first-child {
                    border: none;
                }
            }
        }
        @include media-breakpoint-only(lg)
        {
            &__link {
                font-size: 11px;
            }
        }
        @include media-breakpoint-only(md)
        {
            & {
                width: map-get($container-max-widths, md);
                margin: 0 auto;

                &__link {
                    min-width: 33.3%;
                    margin: 0 0 35px;
                    background-color: var(--grey-blue);

                    &:hover {
                        background-color: var(--light-blue);
                    }
                    &_active {
                        background-color: var(--brown);
                    }
                    &:nth-child(3),
                    &:nth-child(5) {
                        border-right: 1px solid var(--grey2);
                    }
                }
            }
        }
        @include media-breakpoint-down(sm)
        {
            & {
                margin: 0 auto 30px;

                &__link {
                    margin: 0 0 20px;
                    background-color: var(--grey-blue);
                    min-width: 50%;

                    &:hover {
                        background-color: var(--light-blue);
                    }
                    &_active {
                        background-color: var(--brown);
                    }
                }
            }
        }
    }
    &-block {
        margin: 0 0 50px;

        &__inner {
            display: none;

            &_active {
                display: block;
            }
        }
    }
}