.tool-block-activate {
    position: relative;
}

.tool-block {
    position: absolute;
    z-index: 100;
    background-color: var(--white);
    color: var(--grey1);
    width: 420px;
    padding: 25px 25px 10px;
    text-align: left;
    border: 3px solid #b5c6d6;
    right: 50%;
    bottom: -40px;
    transform: translate(0, 100%);
    display: none;

    @include media-breakpoint-up(xl)
    {
        &_active {
            display: block;
        }
    }
    &:before {
        content: "";
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAmCAMAAADz5UuZAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAP9QTFRFAAAAr8jYscfYr8fYscbar8TjrsfYr8fYr8fYsMjYr8fY////r8fXscbarsbXq8rbsMbXtMfXxdfiscfYv9He2OPrdP//rsfX4+zy////rsbXtszb/f7+sMbX2eTsrsfZssjZ+fr8r8fYztzmtcbersfY8/X4r8fXw9XhltbWr8fX5+7zscbZuM3c/v7+r8fX3ObussfXscnZ+/z8r8fX0d/otMrar8fY9ff5rsfYxtfix8flrsbY6u/1rcjXuc7drsbX3+nvrsbYs8na/Pz9sMbY1OHqrMfb9vj6r8fXytnkt9bWrsfX7fL1vtHe4uvxtcvascfY+Pn7rsfYzdzmTeWWYgAAAFV0Uk5TAJXbrUIR9v+odtgB41TDL54S/33//wPo//9c///P/zr//6n/Fv3/h/8G7f9l///W/0P//7L/If7/j/8J8v9t/93/S///uv8o/5j/DPX///////+g/+2XHskAAADGSURBVHicbdLHUkJRFAVRRKUxC4p6FBNiDphzRjFn//9bvAztenuyq9a4czmtI9/ZZesuQNHYA/TK+vozcIAMHGwj/22IDBzOwFKCsnEERivCsXGYCOEkTFWN0zATwlmYmzfWYCGE9UVYMi7DSghX12DduAGbW8YGbIdwB3b3jPtwEMLDIzg2nsBpCM/O4cJ4CVdhvIYb4y0074z30ArhQ/pH4xM8h/DlFd6MKbT3ELZD+zCm0D6rxhRaJYQptK9v4w/8hvAPwiQmFfMCnOoAAAAASUVORK5CYII=') no-repeat center;
        width: 20px;
        height: 38px;
        position: absolute;
        right: -3px;
        top: -38px;
    }
    &_top {
        bottom: auto;
        top: -40px;
        transform: translate(0, -100%);

        &:before {
            bottom: -38px;
            top: auto;
            transform: scale(1, -1);
        }
    }
    &__title {
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 .5rem;
    }
}