.benefits-list {
    background-color: var(--orange);
    text-align: center;
    padding: 90px 0 60px;
    margin: 0 0 100px;

    &__title {
        color: var(--grey1);
        margin: 0 auto 70px;
    }
    &__items {
        display: flex;
    }
    &__item {
        width: 25%;
        padding: 0 20px;
    }
    &__pict {
        display: flex;
        align-items: center;
        height: 48px;
        justify-content: center;
    }
    &__img {
        display: block;
    }
    &__name {
        font-size: 13px;
        color: var(--grey1);
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: .05em;
        margin: 20px 0 0;
    }
    &__text {
        font-size: 12px;
        color: var(--grey3);
        line-height: 1.833;
        letter-spacing: .025em;
        margin: 40px 0 0
    }
}

@include media-breakpoint-only(md)
{
    .benefits-list {
        padding: 65px 0 75px;
        margin: 0 0 75px;
        background-color: var(--grey-blue);

        &__title {
            max-width: 480px;
        }
        &__item {
            padding: 0 25px;
        }
        &__text {
            display: none;
        }
    }
}
@include media-breakpoint-down(sm)
{
    .benefits-list {
        padding: 50px 0 20px;
        margin: 0 0 50px;
        background-color: var(--grey-blue);

        &__title {
            margin: 0 0 50px;
        }
        &__items {
            flex-wrap: wrap;
        }
        &__item {
            width: 50%;
            margin: 0 0 35px;
            padding: 0;
        }
        &__name {
            margin: 20px auto 0;
            max-width: 130px;
        }
        &__text {
            display: none;
        }
    }
}