.container {
    width: 100%;
    padding: 0 $gutter / 2;
    margin: auto;
}

@each $breakpoint, $container-max-width in $container-max-widths
{
    @include media-breakpoint-only($breakpoint, $grid-breakpoints)
    {
        .container {
            max-width: $container-max-width;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gutter / 2);
}

.no-gutters {
    margin: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding: 0;
}

@include media-breakpoint-only(xl)
{
    .container-fluid-xl {
        max-width: 100%;
    }
}