a,
a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
}

.main {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section {
  padding-bottom: 80px;
}

.title {
  display: inline-block;
  margin: 40px 0 20px;
  padding: 10px 20px;
  font: 800 41px/1 "Montserrat", sans-serif;
  color: #ffffff;
  border-radius: 30px;
  background-color: #b254d7;
  text-shadow: 3px 5px 7px black;
}

.text {
  font: 18px/26px "Montserrat", sans-serif;
  color: #ffffff;
}
.text--additional {
  color: #fdd238;
}
.text--red {
  color: #ff0000;
}
.text--medium {
  font: 800 22px/26px "Montserrat", sans-serif;
}
.text--hurry {
  margin: 15px 0 20px;
  font: bold 27px/29px "Montserrat", sans-serif;
}
.text--big {
  font: bold 30px/1.2 "Montserrat", sans-serif;
}
.text--bigger {
  margin-left: 10px;
  font: bold 68px/1 "Montserrat", sans-serif;
}
.text--small {
  font: 800 12px/1.2 "Montserrat", sans-serif;
}
.text--smaller {
  font: 9px/11px "Montserrat", sans-serif;
}
.text--center {
  text-align: center;
}
.text--italic {
  font-style: italic;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.button__button {
  display: inline-block;
  box-sizing: content-box;
  width: 315px;
  max-width: 100%;
  margin: 20px 3px;
  padding: 15px;
  text-decoration: none !important;
  color: #ffffff !important;
  border: 3px solid #ffb355;
  border-radius: 30px;
  background: linear-gradient(135deg, #ff6a43 0%, #ffb656 100%);

}
.button__button:hover {
  margin: 17px 0;
  padding: 18px;
  font-weight: bold;
  border-radius: 33px;
  background: linear-gradient(135deg, #fd4a19 0%, #fcae1d 100%);
}

.button__circle {
  position: absolute;
  left: 100%;
  margin-left: -50px;
}

.button--animate .button__link {
  opacity: 0 !important;
  transition: opacity linear 0.5s;
}
.button--animate .button__circle {
  left: 0 !important;
  transition: left linear 0.5s;
}

.price {
  max-width: 310px;
  margin-left: 20px;
}

.price__img {
  width: 245px;
  max-width: 100%;
  margin: 0 auto;
}

.bg-red {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fd3f22;
}

.img-wrapper {
  flex: 0 0 80px;
  margin-right: 10px;
  text-align: center;
}

.list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .button {
    margin: 20px 0 40px;
  }
}

@media (max-width: 575px) {
  .title {
    margin: 40px 10px 20px;
    font-size: 28px;
  }

  .section {
    padding-bottom: 50px;
  }

  .button {
    max-width: 90%;
    white-space: nowrap;
  }

  .button__button {
    box-sizing: border-box;
    margin: 10px 0 !important;
    padding: 5px !important;
  }

  .button__link {
    font-size: 14px;
  }

  .button__circle {
    width: 60px;
    margin-left: -30px;
  }

  .flex-column-mobile {
    flex-direction: column;
  }

  .price {
    margin: 30px auto 20px;
  }

  .list__item {
    margin-bottom: 30px;
  }

  .img-wrapper {
    flex: 0 0 auto;
    margin-bottom: 10px;
  }
}
